@import '../utilities/mixins';
@import '../utilities/variables';

.grid-parent{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 2rem;

    //None tar bort pricken brevid li tags. Man kan ändra också.
    list-style-type: none;
 }