//Färger. Ändra dessa för att ändra färger på alla sidor på en gång.
$color-pink: rgb(255,45,85);
$color-pink-dark:rgb(266, 55, 95);
$color-white: rgb(242,242,247);
$color-white2: rgb(229,229,234);
$color-grey: rgb(209,209,214);
// rgb(142,142,147)
$color-dark-grey: rgb(99,99,102);
$color-black: rgb(44,44,46);